<h1>Team Name:<%=@team.name%></h1>
<li>Stadium:<%=@team.stadium%></li>
<li>Latest News:<%=@team.bio%></li>

<%@team.players.each do |player|%>

<div>
<h3>Players:<%=player.name%></h3>
</div>

<%=link_to "See All Players", players_path%>

<%end%>
