<div style="display:inline-block;">
<%= button_to "PLAYERS", "/players" , method: :get%> 
<%= button_to "CONTRACTS", "/contracts" , method: :get%> 
<%= button_to "REVIEWS", "/reviews" , method: :get%>
<%= button_to "TEAMS", "/teams" , method: :get%> 
<h1><%=@team.name%></h1>
<img style="width: 200px; height: 200px; display: block" src=<%=@team.image_url%>/><br>

</div>


<h3>Stadium:<%=@team.stadium%></h3>
<li>Latest News:<%=@team.news%></li>

<h2>Players</h2>

<%@players.each do |player|%>
<h3><li><%=link_to player.name, player_path(player.id)%></li></h3>
<%end%>

<br>
<%= button_to "PLAYERS", "/players" , method: :get%> 
<%= button_to "TEAMS", "/TEAMS" , method: :get%> 
<%= button_to "CONTRACTS", "/contracts" , method: :get%> 
<%= button_to "REVIEWS", "/reviews" , method: :get%>
</br>
