<%=form_for @player do |f|%>

<div><%=f.label :name%></div>
<div><%=f.text_field :name%></div>
<div><%=f.label :age%>
<div><%=f.number_field :age%></div>
<div><%=f.label :bio%></div>
<div><%=f.text_field :bio%></div>
<div><%=f.label :stats%></div>
<div><%=f.number_field :stats%></div>
<div><%=f.label :nationality%>
<div><%=f.text_field :nationality%></div>
<div><%=f.label :image_url%></div>
<div><%=f.text_field :image_url%></div>
<div><%=f.label :youtube_url%></div>
<div><%=f.text_field :youtube_url%></div>





<%=f.submit%>
<br>
<%=link_to 'Players', players_path %>
</br>
<%end%>