<h1>New Contract</h1>

<%=form_for @player do |f|%>
<div><%=f.label :name%></div>
<div><%=f.text_field :name%></div>
<div><%=f.label :age%></div>
<div><%=f.text_field :age%></div>
<div><%=f.label :news%></div>
<div><%=f.text_field :news%></div>
<div><%=f.text_field :age %></div>
<div><%=f.label :nationality%></div>
<div><%=f.text_field :nationality%></div>
<div><%=f.label :appearance%></div>
<div><%=f.number_field :appearance%></div>
<div><%=f.label :assist%>
<div><%=f.number_field :assist%></div>
<div><%=f.label :score%>
<div><%=f.number_field :score%></div>
<div><%=f.label :image_url%></div>
<div><%=f.text_field :image_url%></div>
<div><%=f.label :youtube_url%></div>
<div><%=f.text_field :youtube_url%></div>




<%=f.submit%>
<br>
<%=link_to 'Players', players_path %>
</br>
<%end%>