<div style="display:inline-block;">
<%= button_to "TEAMS", "/teams" , method: :get%> 
<%= button_to "CONTRACTS", "/contracts" , method: :get%> 
<%= button_to "REVIEWS", "/reviews" , method: :get%>
</div>


<h4>Search by Players</h4>
<%= form_tag(players_path, method: :get) do%>
<%= text_field_tag :name%>
<%= submit_tag :Search%>
<% end %>
    <%if @player %>
    <%=link_to @player.name, player_path(@player.id)%>
    <%end%>

<h1>TRANSFER MARKET </h1>
<%@players.each do |player|%>
<img style="width: 200px; height: 200px; display: block" src="<%=player.image_url%>"/><br>
<h2>Name:<%=link_to player.name, player_path(player.id)%></h2>

<h2>Asist:<%=player.assist%></h2>
<h2>Apperance:<%=player.appearance%></h2>
<h2>Goal:<%=player.score%></h2>
<h2>Age:<%=player.age%></h2>
<h2>Nationality:<%=player.nationality%></h2>
<%end%>