<div style="display:inline-block;">
<%= button_to "PLAYERS", "/players" , method: :get%>
<%= button_to "TEAM", "/teams" , method: :get%> 
<%= button_to "CONTRACTS", "/contracts" , method: :get%> 

</div>




<h1>All reviews</h1>
<%@reviews.each do |review|%>
<h2>Player Name: <%=link_to review.player.name, player_path(review.player.id) %></h2>
<h3>Team Name: <%=link_to review.team.name, team_path(review.team.id) %></h3>
<h3>Reviews:<%=review.comment %></h3>
<%= button_to "UPDATE REVIEW", edit_review_path(review.id)	, method: :get%>
<%= button_to "DELETE REVIEW", review_path(review.id) , method: :delete%>
</br>
<%end%>
